@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

/* ヘッダーは画面の上に固定 */
header {
  position: absolute;
  top: 0;
  right: 10%;
  padding: 40px;
  z-index: 10;
}

header nav ul li {
  display: inline-block;
  margin-left: 100px;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

/* ★ ゲームだけ中央寄せ */
#game-wrapper {
  position: absolute;
  top: calc(50% + 40px);
  left: 50%;
  transform: translate(-50%, -50%);
}

/* canvas の拡大 */
canvas {
  border: 1px solid #333;
  transform: scale(1.75);
  transform-origin: center;
}

#sound-notice {
  position: fixed;
  right: 24px;
  bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;

  color: white;
  font-size: 14px;
  opacity: 0.8;

  z-index: 20;
  pointer-events: none; /* ← ゲーム操作を邪魔しない */
}

#sound-notice img {
  width: 24px;
  height: auto;
}

